<!-- ko with: orderlist -->

@Styles.Render("~/Content/CustomStyles")
@Styles.Render("~/Content/CustomStyles/orderlist.css")

<button type="button" class="btn btn-lg btn-primary" data-bind="click: navigationToBuying">Клиенты</button>
<button type="button" class="btn btn-lg btn-primary" data-bind="click: navigationToBuying">Работники</button>
<button type="button" class="btn btn-lg btn-primary" data-bind="click: navigationToBuying">Услуги</button>
<br> <br>
<button type="button" class="btn btn-lg btn-primary" data-bind="click: navigationToExample">Материалы в наличии</button>
  
    <!-- /ko -->
