
<!-- ko with: pList -->
<p>This page is appointed for selecting and buying products</p>
@*<p>debug knockout binding:</p>*@
@*<pre data-bind="text: ko.toJSON(orders, null, 2)"></pre>*@

    <p><a href="#" data-bind="click: app.navigateToPList">Example</a></p>
   
<!-- /ko -->

